.vscode/
.DS_Store
# Secrets (IMPORTANT)
.env

# Environnement virtuel
venv/
env/
.venv/
mon_env/

# Python (fichiers compilés inutiles)
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
media/
staticfiles/


# IDE (VS Code, PyCharm)
.vscode/
.idea/
