# Dépendances
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# Production
dist/
dist-ssr/
*.local

# Environnement
.env
.env.local
.env.*.local

# Éditeur
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Vite et cache
.vite/
.cache/
